body * {
  font-family: 'Lato', sans-serif;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 1vw;
}

.container {
  margin-left: 184px !important;
  margin-right: 184px !important;
}

div#navigation-bar ul {
  font-size: 0;
}

div#navigation-bar ul * {
  display: inline-block;
}

div#navigation-bar li a {
  font-size: calc(0.7rem + 6px);
  text-decoration: none;
  padding: 18px 32px;
  border-left: 1px solid #148e40;
  color: #148e40;
  transition: 0.2s;
}

div#navigation-bar li a.last {
  border-right: 1px solid #148e40;
}

div#navigation-bar li a:hover {
  color: #fff;
  background: #148e40;
}

/* Landing Section */

#landing-section {
  background-image: url(images/Woman-reading-a-book-on-sofa.png);
  background-size: cover;
  background-position: center top;
}

#landing-section div {
  padding-bottom: 18em;
}

#landing-section * {
  color: #fff;
}

#landing-section h1 {
  font-size: 5rem;
  padding-top: 2em;
}

#landing-section p {
  width: calc(30% + 180px);
  line-height: 150%;
  font-size: 1.2rem;
  font-weight: 300;
}

#landing-section a {
  margin-top: 0.6rem;
  font-size: 1.4rem;
  font-weight: 300;
  border-radius: 500px;
  border: none;
  background-color: #fff;
  color: #148e40;
  padding: 0.4em 1.8em;
  outline: none;
  transition: 0.2s;
  text-decoration: none;
}

#landing-section a:hover {
  background: #148e40;
  color: #fff;
}

#images img {
  width: 30%;
  padding: 10px;
}

/* Pricing Section */

#pricing-section {
  font-size: 0;
  padding: 4rem 0 8rem;
}

#pricing-section #pricing {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  color: #148e40;
  letter-spacing: -1px;
  text-align: center;
}

#pricing-section #pricing h2 {
  font-size: calc(1rem + 14px);
  margin-top: 1.5rem;
  font-weight: 300;
}

#pricing-section #pricing h3 {
  font-size: calc(0.6rem + 8px);
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

#pricing-section #pricing .chart {
  border-radius: 4px;
  border: 1px solid rgba(46, 48, 91, 0.2);
  display: inline-block;
  width: 30%;
  margin: 0 0.4em;
  box-sizing: border-box;
  margin-bottom: 2rem;
  transition: 0.2s;
}

#pricing-section #pricing .chart h5 {
  font-size: calc(0.6rem + 16px);
  text-transform: uppercase;
  margin-top: 2em;
}

#pricing-section #pricing .chart h4 {
  font-size: calc(1rem + 16px);
  text-transform: uppercase;
  margin: 0.3em 0 1.4em;
}

#pricing-section #pricing .chart h4 small {
  font-size: 0.6em;
}

#pricing-section #pricing .chart h6 {
  font-size: calc(0.6rem + 16px);
  font-weight: 300;
  border-bottom: 1px solid rgba(43, 57, 217, 0.15);
  padding: 0.4em 0;
  margin: 0 2em;
}

#pricing-section #pricing .chart h6.hide {
  color: transparent;
  border: transparent;
}

#pricing-section #pricing .chart button {
  font-size: calc(0.6rem + 16px);
  font-weight: 300;
  margin: 4em 0 2em;
  background-color: #148e40;
  border: none;
  color: white;
  border-radius: 500px;
  padding: 0.4em 2.8em;
  outline: none;
  cursor: pointer;
}

#pricing-section #pricing .chart button:hover {
  background: #fff;
  color: #148e40;
}

#pricing-section #pricing .chart:hover {
  background: #148e40;
  transition: 0.2s;
}

#pricing-section #pricing .chart:hover * {
  color: white;
  border-color: rgba(232, 230, 255, 0.2);
}

#pricing-section #pricing .chart:hover button {
  background: white;
  color: #148e40;
}

/* Footer Section */

#footer-section {
  background-color: #333;
  padding: 3rem 0;
}

#footer-section .container {
  font-size: 0;
}

#footer-section #branding {
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
  text-align: center;
  color: white;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding: 3rem 0 4rem;
}

#footer-section #branding h3 {
  font-size: calc(1.2rem + 12px);
  color: #148e40;
}

#footer-section #branding p {
  width: 76%;
  margin: 2em auto 0;
  font-size: calc(0.4rem + 8px);
  font-weight: 300;
  line-height: 160%;
}

#footer-section #branding h5 {
  font-size: calc(0.6rem + 8px);
  margin-top: 1.4em;
}

#footer-section #links {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  padding: 1.6rem 6rem;
  width: 60%;
}

#footer-section #links h3 {
  font-size: calc(1.2rem + 8px);
  font-weight: 300;
  padding-bottom: 2.1rem;
  padding-left: 1rem;
  color: #148e40;
}

#footer-section #links #social-icons {
  background: white;
  display: inline-block;
  padding: 0.1rem 0.6rem;
  border-radius: 500px;
  margin-bottom: 2.4rem;
}

#footer-section #links #social-icons img {
  width: 2.2rem;
  padding: 0.4rem;
}

#footer-section #links #social-icons img:hover {
  width: 2.5rem;
  cursor: pointer;
}

#footer-section #links nav {
  padding-left: 1rem;
}

#footer-section #links ul {
  display: inline-block;
  width: 28%;
  vertical-align: top;
}

#footer-section #links ul h6 {
  color: white;
  font-size: calc(0.4rem + 8px);
  font-weight: 700;
  margin-bottom: 0.4em;
}

#footer-section #links ul a {
  font-size: calc(0.4rem + 6px);
  font-weight: 300;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 0.2em;
}

#footer-section #links ul a:hover {
  opacity: 0.4;
}
